GOOGLE_MAPS_API_KEY=
OPENROUTESERVICE_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjY2YzE0MWEwOTM4NDQxOGRhNTkzYTlkNGRlN2Q2Mjc0IiwiaCI6Im11cm11cjY0In0=

H3_RESOLUTION=9

MOCK_ROUTING=true
# Which real provider to use once MOCK_ROUTING=false: "openrouteservice" or "google"
ROUTING_PROVIDER=openrouteservice
MOCK_WAITING_TIME=true

ML_SERVICE_URL=

CHARGING_STATION_CSV_PATH=data/charging_stations.csv
CANDIDATE_STATION_COUNT=20
FINAL_RECOMMENDATION_COUNT=10

WEIGHT_DRIVE_TIME=0.20
WEIGHT_WAITING_TIME=0.25
WEIGHT_CHARGING_TIME=0.25
WEIGHT_COST=0.15
WEIGHT_DISTANCE=0.15
